<a href="https://colab.research.google.com/github/ValerieLangat/DS-Project-2---Predictive-Modeling/blob/master/dialing_back_as_simple_as_possible.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install datapackage

Collecting datapackage
  Downloading https://files.pythonhosted.org/packages/9d/83/46e4f7d7bdf3cc4fa76f0ab7e7db3a890ae1c98a88e143a7f0eae7d031be/datapackage-1.6.2-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 3.1MB/s
Collecting unicodecsv>=0.14 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/6f/a4/691ab63b17505a26096608cc309960b5a6bdf39e4ba1a793d5f9b1a53270/unicodecsv-0.14.1.tar.gz
Requirement already satisfied: jsonschema>=2.5 in /usr/local/lib/python3.6/dist-packages (from datapackage) (2.6.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from datapackage) (1.12.0)
Collecting jsonpointer>=1.10 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/18/b0/a80d29577c08eea401659254dfaed87f1af45272899e1812d7e01b679bc5/jsonpointer-2.0-py2.py3-none-any.whl
Collecting cchardet>=1.0 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/4f/a5/d073e7a0e992275d9b87e08cc3151c0ec27c718b78e6c943d264e5bd71d3/cchardet-2.1.4-cp36-cp36m-manylinux1_x86_64.whl (204kB)
     |████████████████████████████████| 204kB 8.6MB/s
Collecting tabulator>=1.20 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/9f/0d/523058d853abf76bf97057eb498efaf2b4aca433cf9c2db11a6e04c1ebb1/tabulator-1.21.0-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 22.4MB/s
Collecting tableschema>=1.1.0 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/a1/55/36de5a9c3cf6f615ddfcec5fc1b99dac393f09351ac2ffa4b18c9fbeb36b/tableschema-1.5.3-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 22.9MB/s
Requirement already satisfied: requests>=2.8 in /usr/local/lib/python3.6/dist-packages (from datapackage) (2.21.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from datapackage) (7.0)
Collecting openpyxl<2.5,>=2.4 (from tabulator>=1.20->datapackage)
  Downloading https://files.pythonhosted.org/packages/77/26/0bd1a39776f53b4f28e5bb1d26b3fcd99068584a7e1ddca4e09c0d5fd592/openpyxl-2.4.11.tar.gz (158kB)
     |████████████████████████████████| 163kB 48.3MB/s
Requirement already satisfied: sqlalchemy>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from tabulator>=1.20->datapackage) (1.3.5)
Collecting jsonlines>=1.1 (from tabulator>=1.20->datapackage)
  Downloading https://files.pythonhosted.org/packages/4f/9a/ab96291470e305504aa4b7a2e0ec132e930da89eb3ca7a82fbe03167c131/jsonlines-1.2.0-py2.py3-none-any.whl
Collecting ijson>=2.0 (from tabulator>=1.20->datapackage)
  Downloading https://files.pythonhosted.org/packages/4f/dc/9fa0f204490229f9d4e40169ede79e1d6a29c432ff9061055aab3b517873/ijson-2.4-cp36-cp36m-manylinux1_x86_64.whl (59kB)
     |████████████████████████████████| 61kB 22.5MB/s
Requirement already satisfied: xlrd>=1.0 in /usr/local/lib/python3.6/dist-packages (from tabulator>=1.20->datapackage) (1.1.0)
Collecting linear-tsv>=1.0 (from tabulator>=1.20->datapackage)
  Downloading https://files.pythonhosted.org/packages/82/e5/03207a0f11e1d60df85b97b61704ed701b725a7c2feaf83f7bfbd0c2d83e/linear-tsv-1.1.0.tar.gz
Collecting rfc3986>=1.1.0 (from tableschema>=1.1.0->datapackage)
  Downloading https://files.pythonhosted.org/packages/00/8d/9d56bfe43997f1864fe0891be69bc239ded98e69c9f56eb9eaa5b1789660/rfc3986-1.3.2-py2.py3-none-any.whl
Collecting isodate>=0.5.4 (from tableschema>=1.1.0->datapackage)
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 15.2MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from tableschema>=1.1.0->datapackage) (2.5.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (1.24.3)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl<2.5,>=2.4->tabulator>=1.20->datapackage) (1.4.1)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl<2.5,>=2.4->tabulator>=1.20->datapackage) (1.0.1)
Building wheels for collected packages: unicodecsv, openpyxl, linear-tsv
  Building wheel for unicodecsv (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/a6/09/e9/e800279c98a0a8c94543f3de6c8a562f60e51363ed26e71283
  Building wheel for openpyxl (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/59/44/27/63b211425501ad51d197ff8ed00e9e469e38b9e516cb69b1c2
  Building wheel for linear-tsv (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/3f/8a/cb/38917fd1ef4356b9870ace7331b83417dc594bf2c029bd991f
Successfully built unicodecsv openpyxl linear-tsv
Installing collected packages: unicodecsv, jsonpointer, cchardet, openpyxl, jsonlines, ijson, linear-tsv, tabulator, rfc3986, isodate, tableschema, datapackage
  Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed cchardet-2.1.4 datapackage-1.6.2 ijson-2.4 isodate-0.6.0 jsonlines-1.2.0 jsonpointer-2.0 linear-tsv-1.1.0 openpyxl-2.4.11 rfc3986-1.3.2 tableschema-1.5.3 tabulator-1.21.0 unicodecsv-0.14.1

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [0]:
import datapackage
import pandas as pd
import numpy as np

data_codes = 'https://datahub.io/JohnSnowLabs/country-and-continent-codes-list/datapackage.json'

package = datapackage.Package(data_codes)

resources = package.resources
for resource in resources:
    if resource.tabular:
        dcodes = pd.read_csv(resource.descriptor['path'])

In [3]:
codes = dcodes[['Three_Letter_Country_Code', 'Continent_Name']]
codes

    Three_Letter_Country_Code Continent_Name
0                         AFG           Asia
1                         ALB         Europe
2                         ATA     Antarctica
3                         DZA         Africa
4                         ASM        Oceania
5                         AND         Europe
6                         AGO         Africa
7                         ATG  North America
8                         AZE         Europe
9                         AZE           Asia
10                        ARG  South America
11                        AUS        Oceania
12                        AUT         Europe
13                        BHS  North America
14                        BHR           Asia
15                        BGD           Asia
16                        ARM         Europe
17                        ARM           Asia
18                        BRB  North America
19                        BEL         Europe
20                        BMU  North America
21                        BTN           Asia
22                        BOL  South America
23                        BIH         Europe
24                        BWA         Africa
25                        BVT     Antarctica
26                        BRA  South America
27                        BLZ  North America
28                        IOT           Asia
29                        SLB        Oceania
..                        ...            ...
232                       ARE           Asia
233                       TUN         Africa
234                       TUR         Europe
235                       TUR           Asia
236                       TKM           Asia
237                       TCA  North America
238                       TUV        Oceania
239                       UGA         Africa
240                       UKR         Europe
241                       MKD         Europe
242                       EGY         Africa
243                       GBR         Europe
244                       GGY         Europe
245                       JEY         Europe
246                       IMN         Europe
247                       TZA         Africa
248                       USA  North America
249                       VIR  North America
250                       BFA         Africa
251                       URY  South America
252                       UZB           Asia
253                       VEN  South America
254                       WLF        Oceania
255                       WSM        Oceania
256                       YEM           Asia
257                       ZMB         Africa
258                       NaN        Oceania
259                       NaN           Asia
260                       NaN           Asia
261                       NaN           Asia

[262 rows x 2 columns]

In [5]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 3.5MB/s
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [0]:
import category_encoders as ce
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn import datasets, linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.tree import DecisionTreeClassifier
import category_encoders as ce
from xgboost import XGBRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score

def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))
def rmsle(y_true, y_pred):
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/ValerieLangat/DS-Project-2---Predictive-Modeling/master/efw_cc.csv')
data = data.drop(["rank", "quartile"], axis=1)
data = data.dropna(thresh=17)
#data = data.fillna(data.median())

In [0]:
data['id'] = data[['year', 'countries']].apply(lambda x : '{}{}'.format(x[0],x[1]), axis=1)

In [0]:
data.rename(columns = {'ECONOMIC FREEDOM':'ECONOMIC_FREEDOM'}, inplace = True)

In [0]:
#data = data.drop(["countries"], axis=1)

In [26]:
data.head(25)

      year ISO_code  ... 5c_business_reg  5_regulation
0   1990.0      ALB  ...        6.705863      6.906901
1   1990.0      DZA  ...        5.676956      5.268992
2   1990.0      AGO  ...        4.930271      5.518500
3   1990.0      ARG  ...        5.535831      5.369019
4   1990.0      ARM  ...        6.797530      7.378069
5   1990.0      AUS  ...        8.121631      8.465526
6   1990.0      AUT  ...        7.419870      7.371334
7   1990.0      AZE  ...        7.080078      6.874880
8   1990.0      BHS  ...        7.523034      8.169125
9   1990.0      BHR  ...        8.018774      7.415786
10  1990.0      BGD  ...        4.962580      6.690103
11  1990.0      BRD  ...        6.148503      6.524768
12  1990.0      BLR  ...        8.092322      6.377245
13  1990.0      BEL  ...        7.374380      8.102654
14  1990.0      BLZ  ...        6.684745      7.883868
15  1990.0      BEN  ...        6.142281      6.855929
16  1990.0      BTN  ...        6.674658      7.701472
17  1990.0      BOL  ...        3.346666      4.975271
18  1990.0      BIH  ...        5.279863      7.413612
19  1990.0      BWA  ...        6.942897      7.769777
20  1990.0      BRA  ...        3.590036      4.093309
21  1990.0      BRN  ...        7.513954      8.443079
22  1990.0      BGR  ...        6.191990      7.612748
23  1990.0      BFA  ...        6.115344      7.427554
24  1990.0      BDI  ...        6.012328      6.271879

[25 rows x 34 columns]

In [0]:
new = data.groupby('ISO_code', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'previous_loan_counts'})
previous_loan_counts.head()

In [31]:
now = pd.read_csv('https://raw.githubusercontent.com/ValerieLangat/DS-Project-2---Predictive-Modeling/master/asia%20iso%20codes.csv')
now

   ASIA
0   AFG
1   AZE
2   BHR
3   BGD
4   ARM
5   BTN
6   IOT
7   BRN
8   MMR
9   KHM
10  LKA
11  CHN
12  TWN
13  CXR
14  CCK
15  CYP
16  GEO
17  PSE
18  HKG
19  IND
20  IDN
21  IRN
22  IRQ
23  ISR
24  JPN
25  KAZ
26  JOR
27  PRK
28  KOR
29  KWT
30  KGZ
31  LAO
32  LBN
33  MAC
34  MYS
35  MDV
36  MNG
37  OMN
38  NPL
39  PAK
40  PHL
41  TLS
42  QAT
43  RUS
44  SAU
45  SGP
46  VNM
47  SYR
48  TJK
49  THA
50  ARE
51  TUR
52  TKM
53  UZB
54  YEM

In [0]:
af = pd.read_csv('https://raw.githubusercontent.com/ValerieLangat/DS-Project-2---Predictive-Modeling/master/africa%20iso%20codes.csv')
af

In [0]:
now['ASIA'].value_counts().keys().tolist()

In [0]:
asia = ['CXR', 'LKA', 'LBN', 'TLS', 'CYP', 'BRN', 'PHL', 'MMR', 'GEO', 'KHM', 'JOR', 'ARE', 'IOT',
        'KGZ', 'IRN', 'SAU', 'RUS', 'YEM', 'SGP', 'OMN', 'THA', 'IDN', 'CCK', 'AZE', 'HKG', 'AFG', 'KAZ', 'PRK', 'PAK', 'TUR', 
        'QAT', 'CHN', 'UZB', 'MDV', 'ARM', 'BHR', 'KOR', 'SYR', 'LAO', 'BGD', 'VNM', 'IRQ', 'PSE', 'MNG', 'IND', 'BTN', 'ISR',
         'NPL', 'TWN', 'KWT', 'TJK', 'JPN', 'MAC', 'TKM', 'MYS']
africa = ['SEN', 'SOM', 'GNQ', 'TZA', 'CMR', 'DJI', 'CAF', 'MLI', 'ZWE', 'RWA', 'NAM', 'GIN', 'NER', 'SYC', 'MAR', 'DZA', 'MUS',
           'ERI', 'MOZ', 'BDI', 'SWZ', 'SDN', 'AGO', 'GHA', 'SSD', 'COG', 'LSO','MYT', 'SHN', 'EGY', 'NGA', 'CPV','BFA', 'SLE',
           'GNB', 'MRT', 'ESH', 'ETH', 'COM', 'ZAF', 'MDG', 'TGO', 'TUN', 'TCD', 'GMB', 'ZMB', 'STP', 'CIV', 'REU', 'COD', 'UGA',
           'LBY', 'LBR', 'MWI', 'GAB', 'BWA', 'BEN', 'KEN']
europ =

In [34]:
af['AFRICA'].value_counts().keys().tolist()

['SEN',
 'SOM',
 'GNQ',
 'TZA',
 'CMR',
 'DJI',
 'CAF',
 'MLI',
 'ZWE',
 'RWA',
 'NAM',
 'GIN',
 'NER',
 'SYC',
 'MAR',
 'DZA',
 'MUS',
 'ERI',
 'MOZ',
 'BDI',
 'SWZ',
 'SDN',
 'AGO',
 'GHA',
 'SSD',
 'COG',
 'LSO',
 'MYT',
 'SHN',
 'EGY',
 'NGA',
 'CPV',
 'BFA',
 'SLE',
 'GNB',
 'MRT',
 'ESH',
 'ETH',
 'COM',
 'ZAF',
 'MDG',
 'TGO',
 'TUN',
 'TCD',
 'GMB',
 'ZMB',
 'STP',
 'CIV',
 'REU',
 'COD',
 'UGA',
 'LBY',
 'LBR',
 'MWI',
 'GAB',
 'BWA',
 'BEN',
 'KEN']

In [29]:
data['ISO_code'].value_counts().keys().tolist()

['HKG',
 'DNK',
 'ARG',
 'AUS',
 'IND',
 'JOR',
 'DEU',
 'BEL',
 'BOL',
 'ISL',
 'CIV',
 'KWT',
 'HND',
 'DZA',
 'KEN',
 'JAM',
 'JPN',
 'CMR',
 'BRD',
 'EGY',
 'GUY',
 'CHN',
 'GHA',
 'BHR',
 'IDN',
 'BHS',
 'GTM',
 'HTI',
 'BGR',
 'DOM',
 'FJI',
 'GAB',
 'IRL',
 'BRA',
 'CYP',
 'COG',
 'KOR',
 'GRC',
 'CRI',
 'BGD',
 'COL',
 'CHL',
 'HUN',
 'BLZ',
 'ECU',
 'GNB',
 'CAN',
 'BWA',
 'BEN',
 'BDI',
 'COD',
 'IRN',
 'FIN',
 'ISR',
 'SLV',
 'FRA',
 'TCD',
 'ITA',
 'AUT',
 'ALB',
 'CAF',
 'SLE',
 'CZE',
 'SWE',
 'GBR',
 'URY',
 'NLD',
 'HRV',
 'NIC',
 'SEN',
 'TUR',
 'MUS',
 'TUN',
 'NPL',
 'PER',
 'LTU',
 'TTO',
 'USA',
 'PRT',
 'PAK',
 'THA',
 'CHE',
 'TGO',
 'NER',
 'NAM',
 'OMN',
 'UGA',
 'TWN',
 'UKR',
 'TZA',
 'ZAF',
 'MDG',
 'VEN',
 'SYR',
 'ARE',
 'SVK',
 'SVN',
 'PRY',
 'POL',
 'NOR',
 'SGP',
 'MAR',
 'NGA',
 'LUX',
 'ROU',
 'RWA',
 'MMR',
 'PNG',
 'PAN',
 'PHL',
 'LVA',
 'ESP',
 'MLT',
 'RUS',
 'MEX',
 'LKA',
 'MLI',
 'ZMB',
 'EST',
 'NZL',
 'MWI',
 'MYS',
 'ZWE',
 'VNM',
 'MKD',
 'MOZ',
 'GEO',
 'MNG',
 'AZE',
 'ARM',
 'MNE',
 'AGO',
 'KAZ',
 'BFA',
 'BIH',
 'MDA',
 'SRB',
 'KGZ',
 'MRT',
 'ETH',
 'LSO',
 'TJK',
 'SWZ',
 'LBN',
 'TLS',
 'YEM',
 'KHM',
 'SAU',
 'SUR',
 'GMB',
 'QAT',
 'BRN',
 'CPV',
 'GIN',
 'LBY',
 'SYC',
 'BTN',
 'LBR',
 'LAO',
 'SDN',
 'IRQ',
 'BLR']

In [0]:
Asia = []
Africa = []

In [0]:
countries = ['Japan',
 'Germany',
 'France',
 'Dominican Rep.',
 'Congo, Dem. R.',
 'Central Afr. Rep.',
 'Canada',
 'Cameroon',
 'Austria',
 'Benin',
 'Hungary',
 'El Salvador',
 'Belgium',
 'Barbados',
 'Algeria',
 'Australia',
 'Guinea-Bissau',
 'Iceland',
 'Fiji',
 'Argentina',
 'Denmark',
 'Cyprus',
 'Haiti',
 'Bolivia',
 'Botswana',
 'Kuwait',
 'Ireland',
 'Colombia',
 'Greece',
 'Burundi',
 'Costa Rica',
 'Belize',
 'Guatemala',
 'Congo, Rep. Of',
 'Bulgaria',
 'Jamaica',
 'Albania',
 'Kenya',
 'Jordan',
 'China',
 'Chad',
 'Hong Kong',
 'Finland',
 'Bangladesh',
 'Ecuador',
 "Cote d'Ivoire",
 'Gabon',
 'Brazil',
 'Chile',
 'India',
 'Bahamas',
 'Guyana',
 'Bahrain',
 'Egypt',
 'Korea, South',
 'Iran',
 'Israel',
 'Honduras',
 'Italy',
 'Indonesia',
 'Ghana',
 'Uganda',
 'Sri Lanka',
 'Pap. New Guinea',
 'Oman',
 'Slovenia',
 'Czech Rep.',
 'Malawi',
 'Spain',
 'Malaysia',
 'Syria',
 'Morocco',
 'Malta',
 'Norway',
 'Mali',
 'Romania',
 'Niger',
 'Venezuela',
 'Togo',
 'Madagascar',
 'Pakistan',
 'Slovak Rep',
 'Nicaragua',
 'Panama',
 'Mexico',
 'Estonia',
 'Zambia',
 'Philippines',
 'Zimbabwe',
 'Unit. Arab Em.',
 'Thailand',
 'Paraguay',
 'Croatia',
 'Lithuania',
 'Namibia',
 'United States',
 'Trinidad & Tob.',
 'New Zealand',
 'Portugal',
 'Latvia',
 'Taiwan',
 'Peru',
 'Nepal',
 'Turkey',
 'Senegal',
 'Poland',
 'Mauritius',
 'Ukraine',
 'Sweden',
 'Switzerland',
 'United Kingdom',
 'Rwanda',
 'Myanmar',
 'Tanzania',
 'South Africa',
 'Tunisia',
 'Luxembourg',
 'Uruguay',
 'Singapore',
 'Russia',
 'Sierra Leone',
 'Netherlands',
 'Nigeria',
 'Georgia',
 'Macedonia',
 'Mozambique',
 'Vietnam',
 'Armenia',
 'Mongolia',
 'Azerbaijan',
 'Montenegro',
 'Mauritania',
 'Angola',
 'Ethiopia',
 'Lesotho',
 'Bosnia and Herzegovina',
 'Burkina Faso',
 'Serbia',
 'Kazakhstan',
 'Moldova',
 'Kyrgyz Republic',
 'Saudi Arabia',
 'Gambia, The',
 'Swaziland',
 'Tajikistan',
 'Cape Verde',
 'Qatar',
 'Lebanon',
 'Cambodia',
 'Suriname',
 'Yemen, Rep.',
 'Brunei Darussalam',
 'Timor-Leste',
 'Seychelles',
 'Guinea',
 'Bhutan',
 'Libya',
 'Liberia',
 'Laos',
 'Belarus',
 'Sudan',
 'Iraq']

In [0]:
max_cardinality = 100
high_cardinality = [col for col in data.select_dtypes(exclude=np.number)
                   if data[col].nunique() > max_cardinality]

In [13]:
high_cardinality

['ISO_code', 'countries', 'id']

In [14]:
data.shape

(2611, 35)

In [20]:
data.groupby('year')['countries'].nunique()

year
1970    162
Name: countries, dtype: int64

In [0]:
features = ['1a_government_consumption', '1c_gov_enterprises', '1d_top_marg_tax_rate', '2a_judicial_independence', '3c_inflation',
'3d_freedom_own_foreign_currency', '4a_tariffs', '4c_black_market', '4d_control_movement_capital_ppl', '5a_credit_market_reg', '5b_labor_market_reg']

X = data[features]
y = data['ECONOMIC FREEDOM']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

linreg = LinearRegression()
linreg.fit(X_train, y_train)

print(linreg.intercept_)
print(linreg.coef_)
zip(features, linreg.coef_)

7.924269157407684
[ 0.05703258 -0.0130662  -0.06706412  0.09573019 -0.11494083  0.00819058
 -0.04101585  0.01193928 -0.00997308 -0.01845185 -0.08211089]

In [0]:
y_pred = linreg.predict(X_test)
y_pred

array([6.30649534, 6.55161059, 6.18039534, 5.99189797, 6.04517358,
       5.84085662, 6.15034634, 6.05204184, 6.67707085, 6.54378171,
       6.24928083, 6.54047609, 6.4412333 , 6.75691471, 6.4763778 ,
       6.21087032, 6.39621419, 6.38668749, 6.62737236, 7.2447198 ,
       6.76103363, 6.38410285, 6.37858311, 6.41341899, 6.08479579,
       6.1763282 , 5.89744606, 6.54409264, 6.63542791, 6.43682094,
       6.75115715, 6.41613059, 6.46791451, 6.63538579, 6.89841723,
       6.2775079 , 6.46690488, 6.2905052 , 6.28634193, 6.21849655,
       6.07878381, 6.20136406, 6.55616899, 5.99176697, 6.32154677,
       6.66142819, 6.4975586 , 6.56532657, 5.84249719, 6.3788932 ,
       7.33062246, 6.99509136, 6.40867508, 6.10064105, 6.10930385,
       6.64241595, 6.63155957, 6.33205321, 6.58511486, 6.25428088,
       6.51885422, 6.13401367, 6.47989519, 6.52941401, 6.17573876,
       6.96498235, 6.84658258, 6.61565194, 6.20403205, 6.70474863,
       6.256361  , 6.71622741, 6.58687611, 6.69990181, 6.35223322,
       6.26532678, 6.01545338, 6.31875956, 6.37295729, 6.40080241,
       5.98716298, 6.52932843, 6.53541441, 6.48674448, 5.9048401 ,
       6.05227378, 6.32606528, 6.06779676, 7.34554962, 6.4325415 ,
       6.42278547, 6.67093427, 5.99985148, 6.55110025, 7.44674201,
       6.36546907, 6.23498512, 6.24934842, 6.04052424, 6.80469818,
       6.09146941, 6.18348709, 5.52868113, 6.31585063, 6.39263424,
       6.42318517, 6.1640018 , 6.05940994, 6.23433272, 6.34514132,
       6.13413237, 6.35785114, 6.31845998, 6.29177174, 6.26628822,
       6.61651895, 6.91063181, 6.59748649, 6.2563126 , 6.08753165,
       5.9839108 , 6.41022705, 6.68255119, 6.27920724, 6.02572169,
       6.56182165, 6.12715593, 6.15633021, 6.42948577, 6.08382355,
       5.81968789, 6.17987575, 7.19024944, 6.05740498, 6.29148855,
       6.39493034, 6.44294631, 5.94626619, 6.40295877, 6.33355565,
       6.80825199, 6.17999917, 6.21073461, 6.37539523, 6.46936696,
       6.2806003 , 6.48097113, 6.56645371, 6.19849322, 5.99617179,
       6.2346097 , 6.07279183, 6.16619868, 6.25146208, 6.38106552,
       6.58927824, 6.37553896, 7.19361657, 6.35074767, 5.74827138,
       5.86735192, 6.57613389, 6.29288394, 6.37055003, 6.16095378,
       6.90591769, 6.03452343, 6.49808167, 7.41701894, 6.37249524,
       6.24408005, 6.71750667, 6.02794308, 6.53754354, 6.71241816,
       6.15448306, 6.20073416, 6.37968785, 6.42051817, 6.78232484,
       6.63248936, 7.0112458 , 5.73059781, 6.78600928, 6.78983202,
       6.76886859, 6.28268096, 6.44313456, 6.52003857, 6.38481802,
       7.60242762, 6.16531569, 6.29601326, 6.63788883, 6.43457185,
       6.40998625, 6.2057009 , 6.45675399, 6.23836667, 6.3034362 ,
       6.48255173, 5.94266285, 6.7511237 , 6.00583652, 6.35987656,
       6.96061055, 6.65527869, 6.28679694, 6.61512811, 6.14443315,
       6.23799962, 6.50081192, 5.95989596, 5.98143128, 6.61865137,
       6.21389133, 6.36012222, 5.84279511, 6.55626875, 5.97222944,
       6.69724449, 6.36568581, 6.90727521, 6.75446331, 5.64228214,
       6.65116434, 6.90187726, 5.99294252, 6.37653955, 6.13261081,
       5.90036604, 6.09202208, 5.94223208, 6.26456828, 6.41931364,
       6.50262065, 6.59867013, 6.29019709, 6.25953985, 6.05321059,
       7.18029954, 6.25372814, 5.99001656, 6.06200045, 5.83041556,
       6.64871664, 6.41978556, 6.06985996, 6.27343913, 6.61094111,
       6.58867564, 5.93397646, 6.65867453, 6.47626433, 6.4653608 ,
       6.07377571, 6.17044785, 6.52245055, 6.42427469, 6.46477064,
       6.72735569, 6.64497168, 6.12249354, 6.24721716, 6.06446463,
       6.53737443, 6.07879686, 6.35838152, 6.99638894, 6.00779229,
       6.44008986, 5.92647276, 6.98572961, 6.21724015, 6.49354452,
       6.22019905, 6.51834455, 6.50209014, 6.81907199, 6.34147592,
       6.19545076, 6.55797009, 6.3821777 , 5.93435457, 6.77174421,
       6.26594998, 6.4590407 , 6.27514861, 6.56183151, 6.15066897,
       6.72101106, 6.40998362, 6.08365279, 6.43011128, 6.42559184,
       6.36580792, 6.54513025, 6.6513944 , 6.18320128, 6.27816726,
       6.21279971, 6.80812422, 6.23069498, 5.62112161, 6.76149989,
       5.72149549, 7.76450765, 6.20261132, 6.2644482 , 6.05688838,
       5.99383165, 6.78669279, 6.80119785, 7.14268235, 6.40101574,
       6.06060859, 6.59653971, 6.38271868, 6.22591333, 6.18703325,
       6.44680201, 6.36109308, 6.53188753, 6.76276218, 6.52796159,
       6.41821856, 6.53725453, 6.78618227, 6.43463016, 6.39155942,
       6.03442507, 6.42592524, 6.36003124, 6.16799689, 5.99998741,
       5.75707747, 7.21751838, 5.91848294, 6.30155368, 5.9055016 ,
       6.34415362, 6.93685715, 5.60036254, 6.19840841, 6.46114545,
       5.7717441 , 6.41754316, 6.62745978, 6.44314925, 6.55820544,
       5.96810375, 6.30064792, 6.29456891, 6.30587616, 6.27768841,
       5.90849095, 5.84693751, 6.51880986, 6.47262685, 6.72645212,
       6.36664081, 6.20002974, 6.44357277, 6.06868933, 7.16703432,
       6.6408032 , 7.53872855, 6.25447431, 6.44610454, 6.7291    ,
       6.59506381, 6.19071805, 5.98426147, 6.46850722, 6.55093225,
       6.2169299 , 6.34926782, 6.48189635, 6.67508057, 6.58612259,
       6.56163039, 6.86174501, 6.12907021, 6.18890833, 6.17268479,
       6.00206529, 6.35090961, 5.95218212, 6.58030538, 6.25126817,
       5.94740088, 6.40352249, 6.09376231, 6.51955817, 6.08114628,
       6.41885528, 5.79825299, 6.0050069 , 6.52675683, 6.59248444,
       5.54405756, 6.71270361, 6.41183966, 6.49163399, 5.90211672,
       6.75668549, 6.41491821, 7.19750107, 6.42081184, 6.49865969,
       6.08752407, 6.357023  , 6.42417702, 5.55025132, 6.1449473 ,
       6.12644303, 6.35649438, 6.55370101, 6.5361832 , 6.0555864 ,
       6.74455145, 6.83553957, 6.31078263, 6.60363947, 6.69373723,
       6.45519335, 6.06022923, 6.4270522 , 5.59774319, 6.57000092,
       6.56416625, 6.03658565, 6.63758832, 6.38148937, 6.44524169,
       6.02898695, 6.62509981, 5.68226007, 6.46525382, 6.06861544,
       6.816589  , 6.23113703, 6.56440334, 6.52948549, 6.66362676,
       6.1934394 , 7.43831241, 6.5640497 , 6.7264501 , 6.58067808,
       6.30265705, 6.4945209 , 6.43752683, 6.48850317, 6.03353561,
       6.81971869, 6.76884324, 6.37741212, 6.27455157, 6.54407166,
       6.37672765, 6.50435182, 6.6636993 , 6.67731234, 6.42325375,
       6.75401715, 6.29416852, 6.92769813, 6.46244652, 6.84677963,
       6.06092217, 6.3186888 , 6.35926243, 6.56985549, 6.85115854,
       6.99902539, 6.32403357, 6.1114351 , 6.10198107, 6.797768  ,
       6.59520334, 6.36443042, 6.4275709 , 6.60044248, 6.55977721,
       6.54829306, 6.48501945, 6.18979092, 6.14221909, 6.41631821,
       6.24258911, 6.57601117, 6.6808501 , 6.3221124 , 6.57011951,
       7.05664919, 6.61908676, 6.24599681, 6.53654341, 6.30440695,
       6.40289194, 6.1053145 , 6.49507464, 6.37219829, 7.15615954,
       6.5599804 , 6.75165113, 6.67591649, 6.59365431, 6.50877241,
       6.35138628, 6.33756543, 6.60757492, 6.42377148, 5.97782014,
       6.22006918, 6.50158077, 6.82088568, 6.14207252, 6.0280641 ,
       6.57274483, 6.22760565, 6.15626842, 6.16634301, 6.21365491,
       6.5589944 , 6.88609269, 6.50748421, 6.54499537, 6.69124346,
       6.00048585, 6.47742437, 6.26749128, 6.64048598, 6.55702906,
       6.2923959 , 6.474209  , 6.72117304, 6.81400022, 6.39748113,
       6.24600942, 6.74218805, 6.10542551, 6.17890189, 7.28031655,
       6.13296668, 5.97058332, 6.52301419, 6.39414565, 6.30934886,
       6.65572176, 6.24910496, 6.46286552, 6.02131707, 6.59303993,
       6.57830114, 6.48319612, 7.26552664, 6.16864268, 5.80477385,
       5.97571809, 6.75511156, 6.10940621, 6.44158989, 6.40836406,
       6.32625262, 6.17459406, 6.54993686, 6.39827465, 6.41848667,
       6.77049681, 5.84332381, 6.39538166, 6.55546385, 6.37649459,
       6.33580051, 6.22194916, 6.17088097, 6.19145958, 6.58718366,
       6.40005826, 6.10372807, 6.06927034, 5.88816651, 6.33730843,
       6.42327747, 6.40957259, 6.34025744, 6.80399841, 6.64728977,
       5.99136179, 6.26345338, 6.46419045, 6.44098304, 6.49898092,
       6.60721797, 6.23977141, 6.79791212, 6.66883576, 6.52210691,
       6.40080979, 6.15731415, 6.66631945, 6.54787737, 6.42775639,
       6.06978191, 6.76129269, 6.3421603 , 6.66858529, 6.48707466,
       6.26887108, 7.36858412, 6.11759811, 6.31230269, 7.68414538,
       6.55727921, 6.27138026, 5.85708669, 6.33937255, 6.09529353,
       6.14768161, 6.70192041, 5.94021935, 6.82081687, 5.88326964,
       6.69924103, 6.38986104, 6.70214012, 6.54059864, 5.98583832,
       6.30115268, 6.57473441, 6.69840068, 6.2876908 , 6.65593285,
       6.26605935, 6.26391725, 6.27931467, 6.1190738 , 6.68745399,
       6.59147446, 6.36282215, 6.01821813, 6.00916534, 6.43753062,
       6.60822068, 6.37129133, 6.55159495, 6.31147449, 5.84229207,
       5.81800037, 5.42090168, 6.30616577])

In [0]:
print(metrics.mean_absolute_error(y_test, y_pred))
print(metrics.mean_squared_error(y_true, y_pred))
#print(np.sqrt(metrics.mean_squared_error(y_true, y_pred)))

0.7970679676255386

NameError: ignored

In [0]:
asia = [AFG,
AZE,
BHR,
BGD,
ARM,
BTN,
IOT,
BRN,
MMR,
KHM,
LKA,
CHN,
TWN,
CXR,
CCK,
CYP,
GEO,
PSE,
HKG,
IND,
IDN,
IRN,
IRQ,
ISR,
JPN,
KAZ,
JOR,
PRK,
KOR,
KWT,
KGZ,
LAO,
LBN,
MAC,
MYS,
MDV,
MNG,
OMN,
NPL,
PAK,
PHL,
TLS,
QAT,
RUS,
SAU,
SGP,
VNM,
SYR,
TJK,
THA,
ARE,
TUR,
TKM,
UZB,
YEM]